<md-content layout="column" class="custom-scroll" flex>
    <style>
        .highlighted {
            background: #FFE082;
        }
    </style>

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="1" style="max-width: 200px; background-color: #212121; display: none">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Filters</h1>
            </md-toolbar>
            <md-content layout-padding layout="column" style="padding: 0;">
                <md-toolbar style="min-height: 50px">
                    <div class="md-toolbar-tools" style="height: 50px">
                        <h2 class="md-title">Locations</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-toolbar style="min-height: 50px">
                    <div class="md-toolbar-tools" style="height: 50px">
                        <h2 class="md-title">SSID</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-toolbar style="min-height: 50px">
                    <div class="md-toolbar-tools" style="height: 50px">
                        <h2 class="md-title">Connection Type</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-toolbar style="min-height: 50px">
                    <div class="md-toolbar-tools" style="height: 50px">
                        <h2 class="md-title">OS</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
            </md-content>
        </md-sidenav>


        <md-content flex layout="column" style="background-color: #fff">
            <article md-whiteframe="2" style="background-color: rgb(250,250,250)">
                <div layout="row">
                    <div class="dropdown form-group dropdown-start-parent" style="padding: 10px; margin-bottom: 0 !important">
                        <label>Start Date</label>
                        <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent">
                            <div class="input-group date">
                                <input type="text" class="form-control" data-ng-model="dateRangeStart">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                        </ul>
                    </div>

                    <div class="dropdown form-group dropdown-end-parent" style="padding: 10px; margin-bottom: 0 !important">
                        <label>End Date</label>
                        <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent">
                            <div class="input-group date">
                                <input type="text" class="form-control" data-ng-model="dateRangeEnd">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                        </ul>
                    </div>
                    <div layout="row">
                        <md-button style="margin: auto 0 10px" ng-click="refresh()">
                            Validate
                            <md-icon md-svg-src="/images/icons/ic_done_24px.svg" style="margin: auto 5px" aria-label="refresh"></md-icon>
                        </md-button>
                    </div>
                </div>

            </article>
            <div>
                <div layout="row">
                    <article md-whiteframe="2" flex=33>
                        <div class="chart-heading">OS</div>
                        <div class="chart-body" ng-hide="os.loading" >
                            <canvas id="os" class="chart chart-doughnut" chart-data="os.data" chart-labels="os.label" chart-options="os.options" chart-colors="colors">
                            </canvas>
                        </div>
                        <div class="chart-loading" ng-hide="!os.loading">
                            <md-progress-circular md-mode="indeterminate" class="md-primary" style="margin: auto;">
                            </md-progress-circular>
                        </div>
                </article>
                    <div flex></div>
                    <article md-whiteframe="2" flex=60>
                        <div class="chart-heading">Number of concurent sessions over 24hours</div>
                        <div class="chart-body" ng-hide="concurent.loading">
                                <canvas  id="concurent" class="chart chart-line" chart-data="concurent.data"
                                chart-labels="concurent.labels" chart-series="concurent.series" chart-options="concurent.options"
                                chart-colors="colors" chart-dataset-override="concurent.datasetOverride" style="height:100vh; width: 90vw">
                        </canvas>
                        </div>
                        <div class="chart-loading" ng-hide="!concurent.loading">
                            <md-progress-circular md-mode="indeterminate" class="md-primary" style="margin: auto;">
                            </md-progress-circular>
                        </div>
                    </article>
                </div>
            </div>
            <article md-whiteframe="2">
                <md-content flex layout="row" style="padding: 0 20px">
                    <md-icon md-svg-src="/images/icons/ic_search_24px.svg" style="margin: auto 5px"></md-icon>
                    <md-input-container md-no-float class="md-block no-error" style="margin: 10px;padding: 0;" flex>
                        <input type="text" ng-model="query.filter" ng-model-options="query.filterOptions" placeholder="MAC Address, IP Address, Hostname"
                            aria-invalid="false">
                    </md-input-container>
                    <md-button md-no-ink class="md-icon-button" style="margin: auto" ng-click="removeFilter()" ng-disabled="query.filter == ''">
                        <md-icon md-svg-src="/images/icons/ic_close_24px.svg" style="margin: auto 5px;" aria-label="clear"></md-icon>
                    </md-button>
                </md-content>
            </article>

            <article md-whiteframe="5">
                <md-table-container>
                    <table md-table ng-model="clients" md-progress="requestInit">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th md-column style="width: 15%">
                                    <span>Connection Type</span>
                                </th>
                                <th md-column style="width: 15%" md-order-by="os">
                                    <span>OS</span>
                                </th>
                                <th md-column style="width: 15%" md-order-by="clientMac">
                                    <span>MAC Address</span>
                                </th>
                                <th md-column style="width: 20%">IP Address(es)</th>
                                <th md-column style="width: 20%" md-order-by="hostName">
                                    <span>Hostname</span>
                                </th>
                                <th md-column style="width: 5%" md-numeric md-order-by="sessions"># of Sessions</th>
                                <th md-column style="width: 10%" md-numeric md-order-by="usage">
                                    <span>Usage</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="client" md-select-id="clientId" md-auto-select ng-repeat="client in clients | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                                <td md-cell>{{connectionType(client)}}</td>
                                <td md-cell>{{client.os}}</td>
                                <td md-cell>
                                    <md-button ng-click="clientInfo(client)" class="md-primary">
                                        <span ng-bind-html="client.clientMac | highlight:query.filter">
                                            {{client.clientMac}}
                                        </span>
                                    </md-button>
                                </td>
                                <td md-cell>
                                    <span ng-bind-html="client.ip | highlight:query.filter">{{client.ip}}</span>
                                </td>
                                <td md-cell>
                                    <span ng-bind-html="client.hostName | highlight:query.filter">{{client.hostName}}</span>
                                </td>
                                <td md-cell>{{client.sessions}}</td>
                                <td md-cell>{{client.usage }}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="query.limit" md-limit-options="query.limitOptions" md-page="query.page" md-total="{{clients.length}}"
                    md-page-select></md-table-pagination>
            </article>
        </md-content>
    </section>

</md-content>